.left {
  width: 60%;
  float: left;
  height: 450px;
}

.right {
  width: 30%;
  float: center;
  padding-left: 3em;
  height: 450px;
  display: flex;
  align-items: center;
}

.welcomeCardContainer {
  float: left;
  margin: 12em 8em;
  padding: 2.5em;
  max-width: 650px;
  border: 1px solid #E6E6E7;
}

.devEnvContainer {
  margin: 4em 4em;
}

.devIcon {
  opacity: .8;
  transition: 0.3s;
  color: #3C4CE4;
}

.devIcon:hover {
  opacity: 1;
}

div.borderLarge {
  display: flex;
  position: relative;
  align-items: inherit;
  width: 100%;
  border: 1px solid #F1F1F1;
  margin: 2em 0 2em 1em;
}

div.borderSmall {
  display: flex;
  position: relative;
  align-items: inherit;
  width: 90%;
  border: 1px solid #3c4de423;
  margin: 1em 0 1em;
}

.navigation {
  border: 1px solid #F1F1F1;
  margin-right: 4em;
  padding: 1em 2em 1em 1em;
  border-radius: 8px;
}

.taskContainer {
  border: 1px solid #F1F1F1;
  padding: 2em 4em;
  box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 400px;
  right: 0;
}

.taskContainerDarkTheme {
  border: 1px solid #F1F1F1;
  padding: 2em 4em;
  box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 400px;
  right: 0;
  background-color: #17163F;
  color: #F1F1F1;
}


.taskItem {
  padding-bottom: .5em;
}